<div class='col-xs-6 col-md-4 movie-tile'>
  <center>
    {{#link-to 'movie' movie.id}}
      <img class='thumb' src={{movie.Poster}} alt={{movie.Title}} />
    {{/link-to}}

    <h4>{{movie.Title}}<span>{{moldy-img movie=movie}}</span><br>
      <small>
        Metascore: {{movie.Metascore}}
      </small>
    </h4>
  </center>
</div>
{{yield}}
